body{
    margin: 0;     /*SACO MARGEN*/
    font-family: 'Inter', sans-serif;
    background-color: #224870;          /*COLOR DE FONDO*/
  }
  .contenedor{
     display: flex;  /*CENTRAMOS EL CONTENEDOR*/
     justify-content: center;   /*CENTRAMOS EL CONTENEDOR*/
     align-items: center;   /*CENTRAMOS EL CONTENEDOR*/
     height: 100vh; /*BASANDOME EN EL TOTAL DE LA PANTALLA*/
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);     /*4 columnas*/
    grid-template-rows: 160px repeat(5, 75px) ; /*5 filas*/
    background-color: #00916e;
    padding: 15px;      /*separacion de botones*/
    border-radius: 32px; /*bordes radial*/
    
}
button{                 /* CONFIGURO BOTONES*/
    cursor: pointer;    
    margin: 5px;
    padding: 0;     
    border-radius: 32px;
    font-size: 1.5em;
    border: none;       /*saco borde porque el boton por defecto ya tienen*/
    background-color: #00916e;
    box-shadow: 5px 5px 10px -3px #0000003a, -5px -5px 15px 3px #00ffc11f   /*sombras para darle relieve a los botones, utilizando dos colores*/
}
button:active{
    background-color: #006f54;
}
button:focus{
    outline: none;      /*saque el outline que tiene por defecto porqque no me gustaba*/
}
.display{
    grid-column: 1/-1;      /*le doy el ancho total*/
    padding: 16px;      /*separacion*/
    display: flex;
    margin: 10px 10px 20px;     /*le doy margen*/
    flex-direction: column;     /*para que se vea un numero arriba del otro cuando estoy operando*/
    align-items: flex-end;      /*para que se vea del lado derecho*/
    background-color: #e4e3e3a1;    /*color del display*/
    border-radius: 32px;        /*le doy un borde radial*/
    text-align: right;          /*texto de derecha a izquierda*/
    justify-content: space-between;     /*para que se separe un numero del otro*/
    word-break: break-all;      /*por si se va a dos lineas*/
    box-shadow: 0px 0px 0px 10px #0000003a;    /*sombra del marco del display*/
}
.simbolo.arriba{        /*caracterizo el espacio que quiero que ocupe el signo "C"*/
    grid-column: span 2;
}


#valor-actual{          /*le doy su tamaño*/
    font-size: 1.5em;
}
#valor-anterior{
    font-size: size 2em;
}